<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Sorteo Baraja Española</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <h1>Sorteo con Baraja Española</h1>
  <div class="acciones">
    <button onclick="seleccionarAlAzar()">Seleccionar al azar</button>
    <input type="text" id="idCartaManual" placeholder="Ej: 1-oros">
    <button onclick="seleccionarManual()">Seleccionar manual</button>
  </div>

  <div id="baraja"></div>

  <div id="formularioGanador" style="display:none;">
    <h3>Registrar ganador</h3>
    <p id="cartaSeleccionada"></p>
    <input type="text" id="nombre" placeholder="Nombre">
    <input type="text" id="telefono" placeholder="Teléfono">
    <button onclick="guardarGanador()">Guardar</button>
  </div>

  <script src="/static/js/scripts.js"></script>
</body>
</html>